.page-item {
  display: flex;
  align-items: center; /* Aligne verticalement tout sur la même ligne */
  justify-content: space-between; /* Espace entre le texte et les icônes */
  width: 100%;
}

.page-item span,
.page-item input {
  flex-grow: 1;  /* Permet au texte de prendre toute la largeur restante */
  margin-left: 1rem;  /* Espace entre le texte et les icônes */
  white-space: nowrap;  /* Empêche le texte de se couper */
}

.icons {
  display: flex;
  gap: 0.5rem;  /* Espace entre les icônes */
  align-items: center;  /* Assure que les icônes sont bien centrées verticalement */
  justify-content: flex-end;  /* Aligne les icônes à droite */
}

.page-item .icons button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;  /* Assure qu'il n'y a pas de marges autour des boutons */
}

.text-input {
  width: 100%;  /* L'input prendra toute la largeur restante */
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
