
@import "@fortawesome/fontawesome-free/css/all.css";

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #555;
  height: 60px;
  width: 100%;
}
.logo span {
  color: #0d6efd; /* Bleu */
}
.logo {
  display: flex;
  align-items: center;
  color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo i {
  color: #0d6efd;
  font-size: 1.8rem;
  margin-right: 0.75rem;
}

.topbar-actions {
  display: flex;
  align-items: center;
}

.topbar-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}

.column {
  flex: 0.5;
  padding: 20px;
  background-color: #343a40;
  border: 1px solid #343a40;
  margin: 0;
}

.d-flex.flex-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
}

.column:nth-child(3) {
  flex: 1.5;
}

.column:nth-child(2) {
  flex: 4;
  background-color: #343a40;
}

@media only screen and (max-width: 750px) {
  .d-flex {
    flex-direction: column;
  }

  .topbar {
    padding: 0.5rem 1rem;
  }

  .topbar-actions button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .logo i {
    font-size: 1.4rem;
  }

}
