<form class="spec" [formGroup]="form" *ngIf="(selectedNodeFinal$ | async) as selNode; else noSelectedNode">
  <fieldset class="spec__group">
    <legend><span class="spec__no">1</span> Part</legend>
    <div class="kit-field">
      <label for="nodeName">Name</label>
      <input type="text" id="nodeName" placeholder="Hero banner" formControlName="name">
    </div>
    <div class="kit-field">
      <label for="nodeType">Type</label>
      <input type="text" id="nodeType" formControlName="type" readonly>
    </div>
    <div class="kit-field" *ngIf="selNode.type !== 'widget'">
      <label for="nodeChildrenCount">Parts inside</label>
      <input type="number" id="nodeChildrenCount" formControlName="childrenCount" readonly>
    </div>
    <div class="kit-field" *ngIf="selNode.type === 'widget'">
      <label for="widgetId">Widget</label>
      <select id="widgetId" formControlName="widgetId">
        <option [value]="wId" *ngFor="let wId of WIDGET_ID_LIST">{{ wId }}</option>
      </select>
    </div>
    <div class="kit-field">
      <label for="description">Description</label>
      <input type="text" id="description" placeholder="What this part is for" formControlName="description">
    </div>
  </fieldset>

  <fieldset class="spec__group">
    <legend><span class="spec__no">2</span> Size</legend>
    <div class="spec__pair">
      <div class="kit-field">
        <label for="width">Width (px)</label>
        <input type="text" id="width" placeholder="auto" formControlName="width">
      </div>
      <div class="kit-field">
        <label for="height">Height (px)</label>
        <input type="text" id="height" placeholder="auto" formControlName="height">
      </div>
    </div>
  </fieldset>

  <fieldset class="spec__group">
    <legend><span class="spec__no">3</span> Paint</legend>
    <div class="kit-field">
      <label for="backgroundColor">Background</label>
      <div class="spec__swatch">
        <input type="color" id="backgroundColor" formControlName="backgroundColor">
        <code>{{ form.get('backgroundColor')?.value }}</code>
      </div>
    </div>
    <div class="kit-field">
      <label for="borderColor">Border</label>
      <div class="spec__swatch">
        <input type="color" id="borderColor" formControlName="borderColor">
        <code>{{ form.get('borderColor')?.value }}</code>
      </div>
    </div>
  </fieldset>

  <button type="button" class="kit-btn kit-btn--primary kit-btn--block" (click)="onSave(selNode)">Apply to part</button>
</form>

<ng-template #noSelectedNode>
  <p class="kit-empty">Click a part on the mat to paint it.</p>
</ng-template>
