.project-card{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-header {
  padding: 15px 20px;
  border-bottom: 1px solid var(--border-color);
}

.project-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.project-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-status {
  color: #777;
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.project-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
