.checkbox {
  display: flex;
  align-items: center;
}

.checkbox-input {
  display: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-input:checked + .checkbox-label .icon {
  display: block;
}

.icon {
  display: none;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
