<div class="parts-list" *ngIf="tables && tables.length > 0; else emptyState">
  <table>
    <caption class="sr-only">Tables in this database</caption>
    <thead>
      <tr>
        <th scope="col">Part</th>
        <th scope="col">Table</th>
        <th scope="col">ID</th>
        <th scope="col"><span class="sr-only">Actions</span></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let table of tables; let i = index">
        <tr *ngIf="table.id && table.name">
          <td><span class="parts-list__no">T{{ i + 1 }}</span></td>
          <td class="parts-list__name">{{ table.name }}</td>
          <td class="parts-list__id">{{ table.id }}</td>
          <td>
            <div class="parts-list__actions">
              <button type="button" class="kit-btn kit-btn--sm" (click)="editTable(table)">
                <fa-icon [icon]="faEdit"></fa-icon> Edit
              </button>
              <button type="button" class="kit-btn kit-btn--sm kit-btn--danger" (click)="deleteTable(table.name)">
                <fa-icon [icon]="faTrash"></fa-icon> Delete
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #emptyState>
  <div class="kit-empty">
    <fa-icon [icon]="faDatabase"></fa-icon>
    <p><strong>No tables yet.</strong> Add the first one above.</p>
  </div>
</ng-template>
