.dashboard-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 250px !important;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-title h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.action-button {
  padding: 10px 20px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.action-button:hover {
  background: var(--secondary-color);
}

.action-button fa-icon {
  margin-right: 8px;
}

.card-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
}

app-project-website-card,
app-add-new-card {
  flex: 0 0 auto;
  width: 250px;
}
