.site-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site-preview {
  height: 160px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 3rem;
}

.site-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.site-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.site-url {
  color: #777;
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.site-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
